/* استايل أساسي للصفحة */
body {
    font-family: 'Poppins', sans-serif;
    background: #dddddd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* حاوية النموذج */
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 350px;
    text-align: center;
}

/* عنوان الصفحة */
h1 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

/* تنسيق الحقول */
form div {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: 600;
    color: #555;
}

/* تنسيق الإدخال */
input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* زر الحفظ */
button {
    width: 100%;
    padding: 10px;
    background: rgba(0, 118, 128, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}
